{
    //{{#models}}
    //{{#model}}
    "$id": "https://investio.no/{{classname}}.json",
    "$schema": "http://json-schema.org/draft-07/schema#",
    "description": "{{description}}",
    "type": "object",
    "properties": {
      {{#vars}}
        "{{name}}": {
          type: "{{datatype}}"
        },
      {{/vars}}
    }
    {{/model}}
    {{/models}}
}
  